<component name="libraryTable">
  <library name="spring-boot-starter-tomcat-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-tomcat/0.5.0.BUILD-SNAPSHOT/jar/da52dfffd59c4d693a0ee271b4d80926ceecfed7/spring-boot-starter-tomcat-0.5.0.BUILD-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-tomcat/0.5.0.BUILD-SNAPSHOT/jar/1d0b3f177112af5993dd00209d7ee2cd2f6a879b/spring-boot-starter-tomcat-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>