<component name="libraryTable">
  <library name="spring-boot-starter-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter/0.5.0.BUILD-SNAPSHOT/jar/734404436645be5c2a1b995f1c3d0011260f29dd/spring-boot-starter-0.5.0.BUILD-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter/0.5.0.BUILD-SNAPSHOT/jar/aa6a9310b48707dd73294e46ff8ffdda106b3b74/spring-boot-starter-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>