<component name="libraryTable">
  <library name="spring-boot-starter-tomcat-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-tomcat/0.5.0.BUILD-SNAPSHOT/jar/23153613e14e19cf69d52bf0eef6c42c484204d7/spring-boot-starter-tomcat-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>