<component name="libraryTable">
  <library name="spring-boot-starter-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter/0.5.0.BUILD-SNAPSHOT/jar/b0167f780796304cbdb8a57b2c5c74afadb45c54/spring-boot-starter-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>