<component name="libraryTable">
  <library name="spring-boot-starter-0.5.0.M6">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter/0.5.0.M6/jar/bb3819ff9f41e990335ecbdd959712c49ad50d6d/spring-boot-starter-0.5.0.M6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>