<component name="libraryTable">
  <library name="spring-webmvc-4.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-webmvc/4.0.0.BUILD-SNAPSHOT/jar/af5a2835f7d1e40e2e5de0b7383fbdb209ebcd17/spring-webmvc-4.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-webmvc/4.0.0.BUILD-SNAPSHOT/source/ce33891ea462532aef244ff08f5713433c3a7794/spring-webmvc-4.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>