<component name="libraryTable">
  <library name="spring-boot-starter-logging-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-logging/0.5.0.BUILD-SNAPSHOT/jar/1100f429c6ac55a477b9709581185395b0ac93fe/spring-boot-starter-logging-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>