<component name="libraryTable">
  <library name="spring-boot-starter-tomcat-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-tomcat/0.5.0.BUILD-SNAPSHOT/jar/a0a138cb1853ac97aa74869af2d6b819b4b8af62/spring-boot-starter-tomcat-0.5.0.BUILD-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-tomcat/0.5.0.BUILD-SNAPSHOT/jar/da52dfffd59c4d693a0ee271b4d80926ceecfed7/spring-boot-starter-tomcat-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>