<component name="libraryTable">
  <library name="spring-boot-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.BUILD-SNAPSHOT/jar/73db721f5673ea037c5b74a42cda704ae34e12f6/spring-boot-0.5.0.BUILD-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.BUILD-SNAPSHOT/jar/bdfa277aef25317a68d8bcac09e2297a7b618929/spring-boot-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.BUILD-SNAPSHOT/source/2c30a63fb0943feecf420253504595d731b3fe9e/spring-boot-0.5.0.BUILD-SNAPSHOT-sources.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.BUILD-SNAPSHOT/source/5b2ffd44746d1fcc8f0e8bc994d66a8ea092f64d/spring-boot-0.5.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>