<component name="libraryTable">
  <library name="spring-context-4.0.0.RC1">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-context/4.0.0.RC1/jar/f0225eebfbba710c1d6d48bcddda1c146d60cb58/spring-context-4.0.0.RC1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-context/4.0.0.RC1/source/60358c380ba2ce0252f25f2b4f51ff3861b37765/spring-context-4.0.0.RC1-sources.jar!/" />
    </SOURCES>
  </library>
</component>