<component name="libraryTable">
  <library name="spring-boot-starter-jdbc-0.5.0.M6">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-jdbc/0.5.0.M6/jar/a96e847c641ec5fa730fb22f7ae0b935d3e72884/spring-boot-starter-jdbc-0.5.0.M6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>