<component name="libraryTable">
  <library name="spring-boot-starter-logging-0.5.0.M6">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-logging/0.5.0.M6/jar/51ec635f62a85d3d83654290472a7c80dfe18d1/spring-boot-starter-logging-0.5.0.M6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>