<component name="libraryTable">
  <library name="spring-boot-starter-web-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-web/0.5.0.BUILD-SNAPSHOT/jar/f21e948b03b61480ad69372f275384d1e4eaaa29/spring-boot-starter-web-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>