<component name="libraryTable">
  <library name="spring-boot-starter-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter/0.5.0.BUILD-SNAPSHOT/jar/7a64557b79687f5492de6ae89f7e9a106d5c4ed7/spring-boot-starter-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>