<component name="libraryTable">
  <library name="spring-core-4.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-core/4.0.0.BUILD-SNAPSHOT/jar/9c9419a700fd0568282b773eed14439ec2b411fb/spring-core-4.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-core/4.0.0.BUILD-SNAPSHOT/source/f5f3dfff5a8038c4521bbe44ed24ace670458675/spring-core-4.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>