<component name="libraryTable">
  <library name="spring-expression-4.0.0.RC1">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-expression/4.0.0.RC1/jar/88fffcb255bb5b05b6c8f79be1b34bb371e6a38c/spring-expression-4.0.0.RC1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-expression/4.0.0.RC1/source/438257af038189ba5408664ecdb3d68dc2c12b4c/spring-expression-4.0.0.RC1-sources.jar!/" />
    </SOURCES>
  </library>
</component>