<component name="libraryTable">
  <library name="spring-boot-0.5.0.M6">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.M6/jar/82f0251b89c013bc975df73562a4fb3fab97432c/spring-boot-0.5.0.M6.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.M6/source/748b5d86e96af8e66c623ef2245e39d13da25f58/spring-boot-0.5.0.M6-sources.jar!/" />
    </SOURCES>
  </library>
</component>