<component name="libraryTable">
  <library name="spring-boot-starter-web-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-web/0.5.0.BUILD-SNAPSHOT/jar/b2454c3ac298b2b149bcc0dd24363923ea98b040/spring-boot-starter-web-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>