<component name="libraryTable">
  <library name="spring-boot-starter-web-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-web/0.5.0.BUILD-SNAPSHOT/jar/36d515291a1f718c80c16d9df512ffe54f0bf07/spring-boot-starter-web-0.5.0.BUILD-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-web/0.5.0.BUILD-SNAPSHOT/jar/af916e7e6bc534bd94c7e4f1faa2e9332b33aa73/spring-boot-starter-web-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>