<component name="libraryTable">
  <library name="spring-boot-starter-logging-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-logging/0.5.0.BUILD-SNAPSHOT/jar/97c0680ccc369fc00800a9b6aa6106841546db9d/spring-boot-starter-logging-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>