<component name="libraryTable">
  <library name="spring-jdbc-4.0.0.RC1">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-jdbc/4.0.0.RC1/jar/ffa80cdef1cb99dee249faf228b0fe4de68c9fb5/spring-jdbc-4.0.0.RC1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-jdbc/4.0.0.RC1/source/248eed6abe10b2fdc85860298f26a775ac1d886a/spring-jdbc-4.0.0.RC1-sources.jar!/" />
    </SOURCES>
  </library>
</component>