<component name="libraryTable">
  <library name="spring-boot-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.BUILD-SNAPSHOT/jar/6657739bc4c3a23157e00aca7235065ef306ff85/spring-boot-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.BUILD-SNAPSHOT/source/44fb2eb6e8eff75e097ddc01ff511f1025734748/spring-boot-0.5.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>