@(data: Map[String, _])

@list(data: List[_]) = {
<ul>
@for(value <- data) {
	<li>@value</li>
}
</ul>
}

@map(data: Map[String, _]) = {
<table>
@for(key <- scala.collection.immutable.TreeSet.empty[String] ++ data.keySet()) {
	<tr>
		<td>@key</td>
		<td>
		@defining(data.get(key)) { value =>
			@value match {
				case _: List[_] => { @list(value.asInstanceOf[List[_]]) }
				case _: Array[_] => { @list(value.asInstanceOf[Array[_]].toList) }
				case _: Map[_, _] => { @map(value.asInstanceOf[Map[String, _]]) }
				case _: String => { @value }
				case _ => { Unknown value type '@value.getClass()' }
			}
		}
		</td>
	</tr>
}
</table>
}

@map(data)
